.list {
    text-align: center;

    &+& {
        margin-top: rem(71);
    }

    @include mq('md') {
        max-width: rem(333);
        width: 100%;

        &+& {
            margin-top: 0;
        }
    }
}

.list__head {
    background: $color-accent;
    color: #fff;
    font-weight: bold;
    font-size: rem(30);
    padding: rem(11);
    border-radius: rem(20) rem(20) 0 0;

    span {
        display: block;
        font-weight: normal;
        font-size: rem(14);
    }

    &--standard {
        background: $color-main;
    }
}

.list__textblock {
    margin: rem(26) auto 0;
    max-width: rem(277);
    width: 100%;
}

.list__text {
    color: #535353;
    border-bottom: rem(1) solid #DEDEDE;

    &+& {
        margin-top: rem(16);
    }
}

.list__button {
    margin-top: rem(25);
}