.footer {
    background: $color-base;
}

.footer__content {
    padding: rem(71) rem(30) 0;

    @include mq('md') {
        max-width: rem(1000);
        margin: 0 auto;
        padding: rem(71) 0 0;
        display: flex;
        justify-content: space-between;
    }
}

.footer__logo {
    width: rem(148);
}

.footer__items {
    margin-top: rem(15);
    padding: 0 rem(42);

    @include mq('md') {
        margin-top: 0;
        padding: 0;
    }
}

.footer__item {
    &+& {
        margin-top: rem(15);
    }
}

.footer__copyright {
    text-align: center;
    margin-top: rem(83);
    padding-bottom: rem(20);

    @include mq('md') {
        margin-top: rem(50);
    }
}